:host nb-layout-header ::ng-deep nav {
  display: flex;
  justify-content: space-between; /* left and right separated */
  align-items: center;
  width: 100%; /* full width */
  padding: 0 1rem;
  box-sizing: border-box;
}

:host nb-layout-header ::ng-deep .header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

:host nb-layout-header ::ng-deep .logo {
  height: 40px;
  vertical-align: middle;
}

:host nb-layout-header ::ng-deep .header-right {
  display: flex;
  align-items: center;
}
